tr.enable-on-page-select .select2-container .select2-selection--multiple .select2-selection__rendered {
    margin-bottom: -3px;
}

tr.enable-on-page-select .select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    margin-top: 0;
}

tr.enable-on-page-select .select2-container .select2-selection--multiple .select2-selection__rendered li {
    margin-bottom: 0;
}
